body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #4e1b66;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  background: rgb(131, 131, 131);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}


button {
  background: #ff63cb79;
  color: white;
  border: none;
  padding: 30px 60px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: #ff63cb;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(255, 99, 203, 0.4);
}